@*John Berthelsen*@
@*Admin table for list of orders*@

@page "/admin/orders"
@inherits OwningComponentBase<IOrderRepository>

<OrderTable TableTitle="Unprocessed Orders" Orders="UnprocessedOrders"
            ButtonLabel="Shipped" OrderSelected="CollectOrder"></OrderTable>

<OrderTable TableTitle="Processed Orders" Orders="ProcessedOrders"
            ButtonLabel="Reset" OrderSelected="ResetOrder"></OrderTable>

<button class="btn btn-info" @onclick="@(x => UpdateData())">Refresh Data</button>

@code {

    public IOrderRepository repo => Service;

    public IEnumerable<Order> AllOrders { get; set; }
    public IEnumerable<Order> UnprocessedOrders { get; set; }
    public IEnumerable<Order> ProcessedOrders { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        AllOrders = await repo.Orders.ToListAsync();
        UnprocessedOrders = AllOrders.Where(x => !x.OrderReceived);
        ProcessedOrders = AllOrders.Where(x => x.OrderReceived);
    }

    public void CollectOrder(int id) => UpdateOrder(id, true);
    public void ResetOrder(int id) => UpdateOrder(id, false);

    private void UpdateOrder (int id, bool ordered)
    {
        Order o = repo.Orders.FirstOrDefault(x => x.OrderId == id);
        o.OrderReceived = ordered;
        repo.SaveOrder(o);
    }

}